:root {
    --size: 30vh;
}

@media (orientation: portrait) {
    :root {
        --size: 30vw;
    }
}

html, body{
    background: rgb(56, 56, 56);
    color: wheat;
}
#game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.game-row {
    display: flex;
}
.game-row>div{
    width: var(--size);
    height: var(--size);
    outline: 2px solid rgb(128, 128, 128);
    background: rgb(47, 47, 47);
    color: whitesmoke;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alert {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 31, 35, 0.87);
    font-size: 2em;
    visibility: hidden;
}
